.selectBtn {
    background-color: #ff9d40;
    border: none !important;
    font-weight: 500;
    color: black;
}
.closeBtn {
    background-color: #ff9d40;
    border: none !important;
    font-weight: 500;
    color: black;
}
.addFrnd {
    background-color: #ff9d40 !important;
    border: none !important;
    font-weight: 500;
    color: black;
    width: 10% !important;
}

.btn-primary:hover {
    background-color: #ff9d40;
    color: black;
}

.frndDiv:hover {
    background-color: #fbf3e0;
    transform: scale(1.02);
    transition: 0.2s !important;
} 

/* add friend */
.frndInput {
    border: none;
    border-radius: 0;
    background-color: white;
}
.frndInput:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}